body {
    background-size: cover;
    background-image: url("../images/bg.jpg");
}

table tr:hover {
    background-color: #e7e7e7;
}

.logout-link {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 3%;
    right: 5%;
    border: 3px double rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.logout-link a {

}

.add-shoppingList {
    width: 80%;
    margin: auto;
}

.reference-links {
    color: #3f41ff;
}

.reference-links:hover {
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
}

.mid-right {
    background-color: rgba(0, 0, 0, 0.42);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 2px 2px 9px 5px #0000001a;
    width: 30%;
    min-height: 400px;
    position: absolute;
    right: 9%;
    top: 15%;
    color: #ffffff;
    /*text-shadow: 4px 4px rgba(0,0,0,0.5);*/
    text-outline: 4px 2px rgba(0, 0, 0, 0.61);
    font-weight: 200;
    align-content: center;
}

.mid-right form {
    margin: auto;
    width: 70%;
}

/*.mid-right input{*/
/*width: 100%;*/
/*height: 25px;*/
/*padding: 5px;*/
/*margin: 10px 10px 10px 0;*/
/*border-radius: 2px;*/
/*border: 1px solid;*/
/*}*/

.mid-right button {
    float: right;
}

.mid-center {
    background-color: rgba(250, 250, 250, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 2px 2px 9px 5px #0000001a;
    width: 95%;
    min-height: 600px;
    color: #555555;
    text-outline: 4px 2px rgba(0, 0, 0, 0.61);
    font-weight: 200;
    margin: auto;
    padding: 10px;
}

#shoppingListTable {
    margin-left: auto;
    width: 98%;
}

#shoppingListItemsTable {
    margin-left: auto;
}

.shoppingList-items-form {
    padding-top: 60px;
}

.float-right {
    float: right;
    width: 80%;
    min-height: 200px;
    border-left: 3px double #b8b8b8;
}

.float-left {
    float: left;
    width: 20%;
    min-height: 200px;
    list-style: none;
}

.float-left li {
    border-bottom: 1px solid #d5d5d5;
    padding-left: 10px;
}

.float-left li:hover {
    background-color: #d5d5d5;
    font-weight: bold;
}

#listItemHeader {
    text-align: center;
    width: 95%;
}

.center-content {
    text-align: center;
}