body {
    background-size: cover;
    background-image: url("../images/bg.jpg");
}

#main{
    background-color: rgba(0, 0, 0, 0.6);
    height:100vh;
}

#shoppinglistTable, #itemsTable{
    margin-left: 15px;
}

.dataTables_wrapper{
    margin-top: 40px;
}

.welcomeMessage {
    color: #ffffffd1;
    top: 25%;
    position: absolute;
    width: 50%;
    text-align: center;
    font-weight: 200;
    font-size: larger;
}

.mid-right {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    box-shadow: 2px 2px 9px 5px #0000001a;
    width: 30%;
    min-width: 370px;
    min-height: 400px;
    position: absolute;
    right: 9%;
    top: 15%;
    color: #ffffff;
    text-outline: 4px 2px rgba(0, 0, 0, 0.61);
    font-weight: 200;
    align-content: center;
}

.alt-link {
    padding-top: 30px;
    margin: auto;
    width: 70%;
}

.mid-right form {
    margin: auto;
    width: 70%;
}


.mid-right button {
    float: right;
}

.mid-center {
    background-color: rgba(250, 250, 250, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 2px 2px 9px 5px #0000001a;
    width: 70%;
    height:100vh;
    color: #555555;
    text-outline: 4px 2px rgba(0, 0, 0, 0.61);
    font-weight: 200;
    margin: auto;
    padding: 10px;
    overflow-y: auto;
    z-index: 10;
    position: absolute;
    left: 22%;
}

.extreme-left {
    background-color: rgba(250, 250, 250, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 2px 2px 9px 5px #0000001a;
    width: 15%;
    height:100vh;
    color: #555555;
    text-outline: 4px 2px rgba(0, 0, 0, 0.61);
    font-weight: 200;
    margin: auto;
    padding: 10px;
    overflow-y: auto;
    position: absolute;
    left: 7%;
    z-index: 1
}

.logout-link {
    width: 80px;
    height: 40px;
    padding-top: 8px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 3%;
    right: 15%;
    border: 3px double rgba(0, 0, 0, 0.10);
    border-radius: 3px;
}

.logout-link:hover {
    border: 3px double rgba(0, 0, 0, 0.30);
    background-color: rgba(0, 0, 0, 0.46);
    color: #fff;
}

ul{
    padding: 0;
}

ul li{
    border-bottom: 1px solid #ffffff5c;
    cursor: pointer;
    padding-top: 3px;
    height: 25px;
    list-style: none;
    padding-left: 10px;
}

ul li:hover{
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bolder;
}

.active{
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bolder;
}


/**********LOADING_ANIMATION**************/

#loadingAnimation{
    width: 100%;
    padding: 20px;
}

#spinningSquaresG {
    position: relative;
    width: 100px;
    height: 12px;
    margin: auto;
}

.spinningSquaresG {
    position: absolute;
    top: 0;
    background-color: rgba(133, 171, 255, 0.73);
    border: 1px solid rgba(0, 0, 0, 0.05);
    width: 12px;
    text-align: center;
    height: 12px;
    -moz-animation-name: bounce_spinningSquaresG;
    -moz-animation-duration: 0.7s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -moz-transform: scale(.3);
    -webkit-animation-name: bounce_spinningSquaresG;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform: scale(.3);
    -ms-animation-name: bounce_spinningSquaresG;
    -ms-animation-duration: 0.7s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -ms-transform: scale(.3);
    -o-animation-name: bounce_spinningSquaresG;
    -o-animation-duration: 0.7s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    -o-transform: scale(.3);
    animation-name: bounce_spinningSquaresG;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    transform: scale(.3);
}

#spinningSquaresG_1 {
    left: 0;
    -moz-animation-delay: 0.28s;
    -webkit-animation-delay: 0.28s;
    -ms-animation-delay: 0.28s;
    -o-animation-delay: 0.28s;
    animation-delay: 0.28s;
}

#spinningSquaresG_2 {
    left: 13px;
    -moz-animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
    -ms-animation-delay: 0.35s;
    -o-animation-delay: 0.35s;
    animation-delay: 0.35s;
}

#spinningSquaresG_3 {
    left: 25px;
    -moz-animation-delay: 0.42s;
    -webkit-animation-delay: 0.42s;
    -ms-animation-delay: 0.42s;
    -o-animation-delay: 0.42s;
    animation-delay: 0.42s;
}

#spinningSquaresG_4 {
    left: 38px;
    -moz-animation-delay: 0.49s;
    -webkit-animation-delay: 0.49s;
    -ms-animation-delay: 0.49s;
    -o-animation-delay: 0.49s;
    animation-delay: 0.49s;
}

#spinningSquaresG_5 {
    left: 50px;
    -moz-animation-delay: 0.56s;
    -webkit-animation-delay: 0.56s;
    -ms-animation-delay: 0.56s;
    -o-animation-delay: 0.56s;
    animation-delay: 0.56s;
}

#spinningSquaresG_6 {
    left: 63px;
    -moz-animation-delay: 0.63s;
    -webkit-animation-delay: 0.63s;
    -ms-animation-delay: 0.63s;
    -o-animation-delay: 0.63s;
    animation-delay: 0.63s;
}

#spinningSquaresG_7 {
    left: 75px;
    -moz-animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
    -ms-animation-delay: 0.7s;
    -o-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

#spinningSquaresG_8 {
    left: 88px;
    -moz-animation-delay: 0.77s;
    -webkit-animation-delay: 0.77s;
    -ms-animation-delay: 0.77s;
    -o-animation-delay: 0.77s;
    animation-delay: 0.77s;
}

@-moz-keyframes bounce_spinningSquaresG {
    0% {
        -moz-transform: scale(1);
        background-color: rgba(133, 171, 255, 0.73);
    }
    100% {
        -moz-transform: scale(.3) rotate(90deg);
        background-color: #DBD6EB;
    }
}

@-webkit-keyframes bounce_spinningSquaresG {
    0% {
        -webkit-transform: scale(1);
        background-color: rgba(133, 171, 255, 0.73);
    }
    100% {
        -webkit-transform: scale(.3) rotate(90deg);
        background-color: #DBD6EB;
    }
}

@-ms-keyframes bounce_spinningSquaresG {
    0% {
        -ms-transform: scale(1);
        background-color: rgba(133, 171, 255, 0.73);
    }
    100% {
        -ms-transform: scale(.3) rotate(90deg);
        background-color: #DBD6EB;
    }
}

@-o-keyframes bounce_spinningSquaresG {
    0% {
        -o-transform: scale(1);
        background-color: rgba(133, 171, 255, 0.73);
    }
    100% {
        -o-transform: scale(.3) rotate(90deg);
        background-color: #DBD6EB;
    }
}

@keyframes bounce_spinningSquaresG {
    0% {
        transform: scale(1);
        background-color: rgba(133, 171, 255, 0.73);
    }
    100% {
        transform: scale(.3) rotate(90deg);
        background-color: #DBD6EB;
    }
}

/**********LOADING_ANIMATION**************/

/**********Confirm Dialog Box**************/

.react-confirm-alert-blur {
    filter: url(#gaussian-blur);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.4);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 30px;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
    color: #666;
}

.react-confirm-alert-svg{
    position: absolute;
    top: 0;
    left: 0;
}

.react-confirm-alert > h1 {
    margin-top: 0;
}

.react-confirm-alert > h3 {
    margin: 0;
    font-size: 16px;
}

.react-confirm-alert-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.react-confirm-alert-button-group > button {
    outline: none;
    background: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

@-webkit-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/**********Confirm Dialog Box**************/

/*.logout-link a {*/

/*}*/

/*.add-shoppingList {*/
/*width: 80%;*/
/*margin: auto;*/
/*}*/

/*.reference-links {*/
/*color: #3f41ff;*/
/*}*/

/*.reference-links:hover {*/
/*cursor: pointer;*/
/*font-weight: 600;*/
/*text-decoration: underline;*/
/*}*/

/*#shoppingListTable {*/
    /*margin-left: auto;*/
    /*width: 98%;*/
/*}*/

/*#shoppingListItemsTable {*/
    /*margin-left: auto;*/
/*}*/

/*.shoppingList-items-form {*/
    /*padding-top: 60px;*/
/*}*/

/*.float-right {*/
    /*float: right;*/
    /*width: 80%;*/
    /*min-height: 200px;*/
    /*border-left: 3px double #b8b8b8;*/
/*}*/

/*.float-left {*/
    /*float: left;*/
    /*width: 20%;*/
    /*min-height: 200px;*/
    /*list-style: none;*/
/*}*/

/*.float-left li {*/
    /*border-bottom: 1px solid #d5d5d5;*/
    /*padding-left: 10px;*/
/*}*/

/*.float-left li:hover {*/
    /*background-color: #d5d5d5;*/
    /*font-weight: bold;*/
/*}*/

/*#listItemHeader {*/
    /*text-align: center;*/
    /*width: 95%;*/
/*}*/

/*.center-content {*/
    /*text-align: center;*/
/*}*/